body {
    background-color: #320000;
}

.win {
    background-color: rgb(146, 146, 146);
    background-image: url('');
    background-size: cover;
    width: 200px;
    height: 200px;
}

.sr-only {
    color: #060606;
    background-color: #060606;
    border: none;
    border-color: #060606;
}

input {
    background-color: white;
    border: none;
    border-radius: 5px;
    height: 20px;
    transition: all 2s;
}

.asa {
    font-family: 'Courier New', Courier, monospace;
}

.e {
    width: 170px;
    transition: all 2s;
}

.e:hover {
    width: 200px;
    background-color: #290000;
}

.navbar {
    color: white;
}

.denis {
    font-family: 'Courier New', Courier, monospace;
    color: #a3cedf;
    font-size: 30px;
    position: absolute;
    margin: 70px 0px 0px 100px;
    text-decoration-color: #0e008b;
}

.aleksei {
    font-family: 'Courier New', Courier, monospace;
    color: #a3cedf;
    font-size: 30px;
    position: absolute;
    margin: 130px 0px 0px 100px;
    text-decoration-color: #0e008b;
}

h6 {
    color: white;
}

th {
    color: white;
}

.sofia {
    font-family: 'Courier New', Courier, monospace;
    color: #a3cedf;
    font-size: 30px;
    position: absolute;
    margin: 10px 0px 0px 100px;
    text-decoration-color: #0e008b;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}

a {
    font-family: 'Courier New', Courier, monospace;
}

.n {
    font-family: 'Courier New', Courier, monospace;
    border: none;
    border-radius: 6px;
    background-color: white;
    width: 150px;
    height: 50px;
    font-size: 20px;
    margin-left: 43%;
}